.venv/
.env
__pycache__/
*.pyc
.ipynb_checkpoints/
backend/output/*.csv
backend/output/*.pdf
*.egg-info/
dist/
build/
backend/data/*.db
.vercel
.env*

!.env.example
!**/.env.example
.pytest_cache/
.ruff_cache/
