.venv/
.env
__pycache__/
*.pyc
.ipynb_checkpoints/
output/*.csv
output/*.pdf
backend/output/*.csv
backend/output/*.pdf
*.egg-info/
dist/
build/
data/*.db
backend/data/*.db
*.db
.vercel
.env*

!.env.example
!**/.env.example
.pytest_cache/
.ruff_cache/
